<!-- Validation failure messages -->
<% if @tiene.present? %>
  <% if @tiene.errors.any? %>
    <% @tiene.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new tiene
</h1>

<hr>

<form action="/create_tiene" method="post">
  <!-- Label and input for modulo_id -->
  <div class="form-group">
    <label for="dia_id">
      Dia
    </label>

    <%= select_tag("dia_id", options_from_collection_for_select(Day.all, :id, :nombre, :class => "form-control")) %>
    
  </div>

  <!-- Label and input for asignatura_id -->
  <div class="form-group">
    <label for="asignatura_id">
      Asignatura
    </label>

    <input type="text" id="asignatura_id" name="asignatura_id" class="form-control" value="<%= @tiene.try(:asignatura_id) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create tiene
  </button>
</form>

<hr>

<a href="/tienes">
  Go back
</a>
