<!-- Validation failure messages -->
<% if @ramo.present? %>
  <% if @ramo.errors.any? %>
    <% @ramo.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new ramo
</h1>

<hr>

<form action="/create_ramo" method="post">
  <!-- Label and input for nombre -->
  <div class="form-group">
    <label for="nombre">
      Nombre
    </label>

    <input type="text" id="nombre" name="nombre" class="form-control" value="<%= @ramo.try(:nombre) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create ramo
  </button>
</form>

<hr>

<a href="/ramos">
  Go back
</a>
